body{
    margin: 0;
    background-color: rgb(63, 38, 7);
}
#home{
    width: 800px;
    height: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
#header{
    height: 220px;
}
#header img{
    height: 220px;
    width: 100%;
}
#nav{
    height: 30px;
    background-color:rgb(150, 93, 25);
}
.section1{
    padding: 20px;
    width: 800px;
    height: 300px;
    box-sizing: border-box;
}
#article{
    width: 490px;
    height: 260px;
    overflow: auto;
    float: left;
}